/* shop product */

.product-img-label {
    padding: 7px;
    width: 20%;
    background: #9f9fa0;
    border-radius: 5px;
    margin: 5px 5px 0 5px;
    text-align: center;
    color: white;
    transition: background 0.15s ease-in-out;
}

.product-img-label:hover {
    background: #B0B1B2;
    cursor: pointer;
}

.product-wrapper-upload {
    width: 24%;
    display: inline-block;
    margin: 0 5px 5px 0;
    position: relative;
}

.fas.fa-trash {
    position: absolute;
    top: 50%;
    left: 50%;
    color: red;
    font-size: 24px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: all 0.15s ease-in;
    display: none;
}

.product-img-upload {
    width: 100%;
    height: 150px;
    border-radius: 7px;
    transition: all 0.15s ease-in;
    border: 1px solid #dcdcdc;
}

div.product-wrapper-upload:hover>img {
    opacity: 0.75;
}

div.product-wrapper-upload:hover>i {
    display: block;
}