.checked {
    color: orange;
}

div.stars {
    width: 40%;
    display: inline-block;
}

input.star {
    display: none;
}

label.star {
    float: right;
    padding: 10px;
    font-size: 25px;
    color: #444;
    transition: all .2s;
}

input.star:checked~label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked~label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked~label.star:before {
    color: #F62;
}

label.star:hover {
    transform: rotate(-15deg) scale(1.3);
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}

#star {
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    height: 63px;
    width: 100%;
}

#star ul {
    list-style: none;
    margin-top: 10px;
    width: 99.5%;
    height: 66px;
    /*border:2px solid red;*/
    background: #fcefe5;
}

#star li {
    display: inline;
    padding: 4px;
    border-radius: 5px;
    /*background : #e0e0e0;*/
    border: 1px solid gray;
    padding-right: 15px;
}

#star a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    margin-left: 17px;
}

#star li:hover {
    /*background: gray;*/
    transition: 0.5s;
    border: 1px solid red;
}

.btn-minus:hover {
    background-color: orange;
    transition: 0.2s;
}

.btn-plus:hover {
    background-color: orange;
    transition: 0.2s;
}

input[type="number"] {
    text-align: center;
    font-size: 18px;
    outline: none;
    border: 1px solid gray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.center-table td {
    display: flex;
    align-items: center;
    justify-content: center;
}