<div id="content-page" class="content-page">
    <div class="col-sm-12 col-lg-12">
        <div id="loading-content">
            <div class="loading-content-css">
                <div class="spinner-border text-primary" role="status">
                </div>
            </div>
        </div>
        <div class="iq-card">
            <div class="panel-heading">
                Liệt kê sản phẩm
            </div>
            <div style="margin-top: 20px" class="row">
                <div class="col-sm-6">
                    <h5 style="margin-left: 20px">Tổng số sản phẩm: <span id="total-product"></span></h5>
                </div>
                <div class="col-sm-3 super-center">
                    <div class="btn btn-primary" onclick="onShowModalAddProduct()">+ Thêm sản phẩm mới
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="input-group" style="margin-bottom: -2px;margin-right: 20px;">
                        <input onkeydown="searchProduct()" id="input-text-product" type="search"
                            placeholder="&#xf002 Tìm kiếm" class="input-sm form-control" name="keywords_submit"
                            style="width: 80%;margin-right: 20px;">
                    </div>
                </div>
            </div>
            <div class="iq-card-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Hình sản phẩm</th>
                            <th>Danh mục</th>
                            <th>Trạng thái</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>

                    <!-- <tbody id="tbl-product">
                    
                    </tbody> -->
                </table>
            </div>

            <!-- PAGINATION START-->
            <div class="pagination-custom">
                <div id="pagination-container"></div>
            </div>
            <!-- PAGINATION END-->

        </div>
    </div>
    <!-- ADD PRODUCT START -->
    <div id="modal-add-update-product-container">
        <div id="modal-add-update-product" class="modal fade add-product" tabindex="-1" role="dialog"
            aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content" style="border-radius: 20px">
                    <div class="iq-card">
                        <header class="panel-heading title-product">
                            Thêm sản phẩm
                        </header>
                        <section class="panel">
                            <div class="panel-body">
                                <div class="iq-card-body">
                                    <div id="form-add-product" role="form" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label>Tên sản phẩm</label><span class="text-danger">*</span>
                                            <input type="text" name="name" class="need-validate form-control">
                                            <div class="mes-name mes-invalid">
                                                Tên sản phẩm là bắt buộc
                                            </div>
                                        </div>

                                        <div class="form-group" style="overflow: auto">
                                            <label>Hình ảnh sản phẩm</label><span class="text-danger">*</span>
                                            <div class="custom-file">
                                                <input type="file" class="form-control-file custom-file-input inputfile"
                                                    id="productImg" multiple>
                                                <div id="img-container" class="row align-items-start">
                                                </div>
                                                <label class="custom-file-label" for="customFile">Chọn
                                                    ảnh</label>
                                            </div>
                                            <div class="mes-imageUrl mes-invalid">
                                                Bạn phải thêm ít nhất 1 ảnh
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Mô tả sản phẩm</label>
                                            <textarea style="resize: none;height: 150px" rows="8" class="form-control"
                                                name="description" placeholder="Mô tả sản phẩm"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-container">
    </div>

</div>