:root {
    --iq-title-text: #303030;
    --iq-body-text: #a09e9e;
    --iq-body-bg: #efeefd;
    --iq-bg-dark-bg: #6d73f6;
    --iq-bg-light-color: #efeefd;
    --iq-bg-dark-color: #1d203f;
    --iq-primary: #e76808;
    --iq-primary-light: #f98e08;
    --iq-primary-dark: #bd0c07;
    --iq-secondary: #a09e9e;
    --iq-secondary-light: #c1c1c1;
    --iq-secondary-dark: #7d7d7d;
    --iq-success: #27b345;
    --iq-success-light: #45ce62;
    --iq-success-dark: #3dbb58;
    --iq-warning: #ffd369;
    --iq-warning-light: #ffd369;
    --iq-warning-dark: #fbc647;
    --iq-danger: #f14336;
    --iq-danger-light: #fd6256;
    --iq-danger-dark: #f35448;
    --iq-info: #6ce6f4;
    --iq-info-light: #6ce6f4;
    --iq-info-dark: #67ddea;
    --iq-dark: #3f414d;
    --iq-light: #e9edf4;
    --iq-white: #ffffff;
    --iq-black: #000000;
    --iq-cyan: #0cd2e3;
    --iq-icon-color: #8c91b6;
    --iq-light-primary: #e0defc;
    --iq-light-secondary: #f1f2f1;
    --iq-light-success: #eefff2;
    --iq-light-danger: #fff5f4;
    --iq-light-warning: #fffcf3;
    --iq-light-info: #e5fafc;
    --iq-light-dark: #f0efef;
    --iq-cobalt-blue: #3f79f1;
    --iq-spring-green: #1be1b3;
    --iq-amber: #f4b72a;
    --iq-pink: #fd6c9e;
    --iq-blue-dark: #5a61fd;
    --iq-blue-light: #858afb;
    --iq-color-light: #edf3ff;
    --iq-progress-light: #eef1f7;
    --iq-light-border: #f2edff;
    --iq-dark-border: #d7dbda;
    --iq-btn-height: 1.9rem;
    --iq-btn-search: 1.9rem;
    --iq-height-image-normal: 7rem;
    --iq-height-image-small: 5rem;
    --iq-width-image-13: 11rem;
}

.ck-content {
    color: #000;
}

.blog-page-container {
    padding-top: 20px;
    &__left {
        // background-color: aqua;
    }

    &__right {
        // background-color: aquamarine;
    }

}

.blog-page {
    &__createdAt {
        margin-left: 30px;
        display: flex;
        height: 100%;
        align-items: center;
        color: var(--iq-secondary-dark);
    }

    &__info {
        margin: 5px 0px;
        display: flex;
        align-items: center;
    }

    &__info__left {
        display: flex;
        align-items: center;
        span {
            color: #000;
            line-height: 30px;
            padding: 1px 3px;
        }
    }

    &__logo img {
        width: 25px;
        height: 25px;
    }

    &__thumb {
        width: 100%;
    }

    &__content {
        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__tags {
    }

    &__tags__container {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    &__tag__item {
        margin: 3px;
        display: inline-block;
        font-size: 16px;
        border: 1px var(--iq-primary) solid;
        border-radius: 4px;
        color: #7a7a9d;
        margin-right: 10px;
        vertical-align: top;
        line-height: 36px;
        padding: 0px 18px;
        text-decoration: none;
        background: transparent;
        cursor: pointer;
    }

    &__banner {
        a {
            width: 100%;
        }
        img {
            width: 100%;
        }
        margin-bottom: 20px;
    }
}

.super-center {
    display: grid;
    place-items: center;
}

.blog-cate {
    .carousel-item-custom{
        &.active{
            display: flex;
        }
        flex-wrap: wrap;
    }
    padding: 20px;
    &__item {
        margin-bottom: 20px;
        padding: 15px 0px;
        border-radius: 20px;
        background-color: #f8f8f8;
    }
    &__item > div {
        width: 100%;
    }
    &__title {
        // color: #fff;
        color: var(--iq-primary);
        margin: 10px 0px;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    &__footer {
        button {
            margin: 15px 0px;
            background-color: var(--iq-primary);
            color: #fff;
            padding: 10px 30px;
        }
    }
}

.blog-card-container {
}

.blog-card {
    padding-top: 10px;
    padding-bottom: 10px;
    &__content {
        // height: 100px;
        // margin: 5px 0px;
        background-color: var(--iq-primary);
    }

    &__thumb {
        background-color: var(--iq-bg-light-color);
        img {
            width: 100%;
        }
    }

    &__detail {
        padding: 5px 10px;
        background-color: var(--iq-bg-light-color);
    }

    &__des {
        margin: 5px 0px;
        color: var(--iq-secondary-dark);
        height: 45px;
        font-size: 13px;
        line-height: 1.2;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-align: justify;
    }

    &__title {
        margin-bottom: 0;
        height: 32px;
        word-break: break-word;
        // font-size: 14px;
        line-height: 1.1;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: var(--iq-primary);
        font-weight: bold;
    }

    &__createdAt {
        display: flex;
        align-items: center;
        color: var(--iq-secondary-dark);
    }

    &__tail__left {
        display: flex;
        align-items: center;
        span {
            color: #000;
            line-height: 30px;
            padding: 1px 3px;
        }
    }

    &__logo img {
        width: 25px;
        height: 25px;
    }

    &__tail {
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__tag {
        height: 32px;
    }

    &__tag__item {
        margin: 2px;
        display: inline-block;
        font-size: 14px;
        border: 1px solid var(--iq-primary-light);
        border-radius: 4px;
        color: #7a7a9d;
        margin-right: 5px;
        vertical-align: top;
        line-height: 28px;
        padding: 0px 10px;
        text-decoration: none;
        background: #f2f2f2;
        cursor: pointer;
    }
}

.text-too-long {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.wrap-menu-desktop {
    top: 0px;
}
