input[type="search"] {
    font-family: FontAwesome, serif;
}

.panel-heading {
    font-size: 25px;
    color: gray;
    font-weight: bold;
    text-align: center;
}

.form-control {
    color: #495057;
}

.img-cover,
.td-img-square > div,
.td-img-cover > div {
    position: relative;
    margin: auto;
}

.img-square,
.img-size {
    height: 100px;
    width: 100px;
}

.img-height-higher {
    height: 100%;
    width: 100px;
}

.img-width-higher {
    height: 100px;
    width: 100%;
}

.img-scale,
.img-cover img,
.td-img-square img,
.td-img-cover img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*size of image in td*/
.td-img-square > div {
    min-height: 150px;
    min-width: 150px;
}

.td-img-cover > div {
    height: 100px;
    width: 300px;
}

.flex-row-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-wrap-1 {
    display: flex;
    flex-wrap: wrap;
}

.super-center {
    display: grid !important;
    place-items: center !important;
}

.maybe-super-center {
    display: grid;
    place-items: center;
}

.td-img-square,
.td-img-cover {
    padding: 5px;
}

div.mes-invalid {
    display: none;
    color: #dc3545;
    font-size: small;
}

.mes-v-display {
    display: none;
    color: #dc3545;
    font-size: small;
}

.mes-iv-display {
    display: block !important;
    color: #dc3545;
    font-size: small;
}

.mes-iv-visibility {
    visibility: visible;
    color: #dc3545;
    font-size: small;
}

.mes-v-visibility {
    visibility: hidden;
    color: red;
    font-size: small;
}

/*.toasts {*/
/*    right: 12px !important;*/
/*    bottom: 12px !important;*/
/*}*/

#pagination-container {
}

.pagination-custom {
    padding: 20px;
}

.label {
    cursor: pointer;
}

.progress {
    margin-top: 0.4rem;
    display: none;
    margin-bottom: 0.4rem;
    height: 5px !important;
}

.alert-u-image {
    margin-top: 0.4rem;
    display: none;
    text-align: center;
    line-height: 0px;
    margin-bottom: 0.4rem;
}

.feature-cropper {
    margin-top: 5px;
}

.img-container img {
    max-width: 100%;
}

#modal-crop-avatar .cropper-face,
#modal-crop-avatar .cropper-view-box {
    border-radius: 100%;
}

img.avatar-show {
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

img.cover-show {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.middle {
    display: flex;
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/*product*/
.product-img-upload {
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.img-container-hover-product:hover .product-img-upload {
    opacity: 0.3;
}

.img-container-hover-product:hover .middle {
    opacity: 1;
}

.img-container-hover-product {
    width: 200px;
    height: 200px;
}

/*product*/
.bisto-img-upload-modal {
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.img-container-hover-bisto-modal:hover .bisto-img-upload-modal {
    opacity: 0.3;
}

.img-container-hover-bisto-modal:hover .middle {
    opacity: 1;
}

.img-container-hover-bisto-modal {
    width: 200px;
    height: 200px;
}

/*banner*/
.banner-img-upload {
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.img-container-hover-banner:hover .banner-img-upload {
    opacity: 0.3;
}

.img-container-hover-banner:hover .middle {
    opacity: 1;
}

.img-container-hover-banner {
    width: 300px;
    height: 100px;
}

/*flashsale*/
.flashsale-img-upload {
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.img-container-hover-flashsale:hover .flashsale-img-upload {
    opacity: 0.3;
}

.img-container-hover-flashsale:hover .middle {
    opacity: 1;
}

.img-container-hover-flashsale {
    width: 300px;
    height: 100px;
}

/*brand*/
.brand-img-upload {
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.img-container-hover-brand:hover .brand-img-upload {
    opacity: 0.3;
}

.img-container-hover-brand:hover .middle {
    opacity: 1;
}

.img-container-hover-brand {
    width: 300px;
    height: 100px;
}

/*bisto*/
.wrapper-upload-bisto-img {
    margin: 5px;
}

.bisto-img-upload {
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.img-container-hover-bisto:hover .bisto-img-upload {
    opacity: 0.3;
}

.img-container-hover-bisto:hover .middle {
    opacity: 1;
}

.img-container-hover-bisto {
    max-width: fit-content;
    /* margin: auto; */
    position: relative;
}

td .img-container-hover-bisto img.img-ratio-normal,
td .lds-ellipsis-container-normal {
    max-height: var(--iq-height-image-normal);
    max-width: var(--iq-height-image-normal);
    /* min-height: var(--iq-height-image-normal); */
}

td .img-container-hover-bisto img.img-ratio-13,
td .lds-ellipsis-container-13 {
    min-width: var(--iq-width-image-13);
}

td .img-container-hover-bisto img.img-ratio-small,
td .lds-ellipsis-container-small {
    max-height: var(--iq-height-image-small);
    max-width: var(--iq-height-image-small);
    /* min-height: var(--iq-height-image-small); */
}

.img-container-hover-bisto img {
}

.container-photos .img-container-hover-bisto {
    margin: 0px;
}

td > .img-container-hover-bisto {
    margin: auto;
}

.img-preview {
    float: left;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.img-preview img {
    max-width: 100%;
}

.preview-avatar-lg {
    height: 16rem;
    width: 16rem;
}

.preview-cover-lg {
    height: 21rem;
    width: 21rem;
}

.preview-lg {
    height: 9rem;
    width: 16rem;
}

.preview-md {
    height: 4.5rem;
    width: 8rem;
}

.preview-sm {
    height: 2.25rem;
    width: 4rem;
}

.preview-xs {
    height: 1.125rem;
    margin-right: 0;
    width: 2rem;
}

.make-scrolling {
    overflow-y: scroll;
    height: 100px;
}

select[name="shopId"] + span > .ui-selectmenu-icon {
}

select[name="shopId"] + span > .ui-selectmenu-text {
    line-height: 30px;
}

.paging-primary-theme .current {
    background: var(--iq-primary);
    color: #fff;
    border-color: var(--iq-secondary);
    box-shadow: 0 1px 0 rgb(255 255 255), 0 0 2px rgb(0 0 0 / 30%) inset;
    cursor: default;
}

.paging-primary-theme a,
.paging-primary-theme span {
    float: left;
    color: #666;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #bbb;
    min-width: 14px;
    padding: 0 7px;
    margin: 0 5px 0 0;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 20%);
}

.paging-primary-theme a:hover,
.paging-primary-theme span:hover {
    border: 1px solid var(--iq-primary);
}

.loading-content-css,
.loading-center {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    position: absolute !important;
    display: flex;
    justify-content: center;
}

.loading-content-css .spinner-border {
    position: fixed;
    margin-top: 16rem;
}

.loading-center .spinner-border {
    margin: auto;
}

#loading-content {
    display: none;
}

.btn-otion1-bisto {
}

.btn-otion2-bisto {
}

.btn-otion3-bisto {
}

.btn-otion4-bisto {
}

.bisto-none {
    display: none;
}

.bubble {
    transition: 0.3s;
    box-sizing: border-box;
    padding: 12px 16px 12px 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* max-height: auto; */
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.shadow-bisto,
.btn-badge {
    transition: 0.3s;
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.bubble,
.btn-badge:hover {
    cursor: pointer;
    z-index: 1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.rate {
    width: 15rem;
}

.ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #b1b1b1;
    overflow: hidden;
}

.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: var(--iq-warning);
}

.empty-stars:before,
.full-stars:before {
    content: "\2605\2605\2605\2605\2605";
    font-size: 14pt;
}

.empty-stars:before {
    -webkit-text-stroke: 1px #848484;
}

.full-stars:before {
    -webkit-text-stroke: 1px var(--iq-warning);
}

/* Webkit-text-stroke is not supported on firefox or IE */
/* Firefox */
@-moz-document url-prefix() {
    .full-stars {
        color: var(--iq-warning);
    }
}

label {
    font-weight: bold !important;
}

.btn-success1 {
    color: #fff;
    background: var(--iq-success);
}

.phone-responsive {
    display: none;
    position: absolute;
    right: 1rem;
    top: 1.5rem;
}

@media (max-width: 1299px) {
    body.sidebar-main .iq-menu-bt {
        display: block !important;
    }

    body .bisto-bar i {
        display: none;
    }

    body.sidebar-main .wrapper-menu span {
        display: block !important;
    }
}

.wrapper-menu {
    opacity: 0.7;
}

.photoviewer-modal {
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
}

.photoviewer-inner {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    backdrop-filter: unset;
}

.photoviewer-header .photoviewer-toolbar {
    background-color: rgba(0, 0, 0, 0.5);
}

.photoviewer-stage {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    border: none;
}

.photoviewer-stage-svg {
    background-color: #fff !important;
}

.photoviewer-stage-svg img {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.photoviewer-footer .photoviewer-toolbar {
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.photoviewer-header,
.photoviewer-footer {
    pointer-events: none;
}

.photoviewer-title {
    color: #ccc;
}

.photoviewer-button {
    color: #ccc;
    pointer-events: auto;
}

.photoviewer-footer .photoviewer-button:hover {
    color: white;
}

.column-img-grid {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
}

.required-input::after {
    content: "*";
    color: var(--iq-danger);
}

.note-img::after {
    font-size: small;
    font-weight: 600;
    font-style: italic;
}

.note-img-1-11::after {
    content: " (Lưu ý: tối đa 1 ảnh, tỉ lệ 1:1)";
}

.note-img-10-11::after {
    content: " (Lưu ý: tối đa 10 ảnh, tỉ lệ 1:1)";
}

.note-img-1-13::after {
    content: " (Lưu ý: tối đa 1 ảnh, tỉ lệ 1:3)";
}

.note-img-10-13::after {
    content: " (Lưu ý: tối đa 10 ảnh, tỉ lệ 1:3)";
}

.note-img-2-11::after {
    content: " (Lưu ý: tối đa 2 ảnh, tỉ lệ 1:1)";
}

.note-img-2-13::after {
    content: " (Lưu ý: tối đa 2 ảnh, tỉ lệ 1:3)";
}

.note-img-1-normal::after {
    content: " (Lưu ý: tối đa 1 ảnh)";
}

.note-img-10-normal::after {
    content: " (Lưu ý: tối đa 10 ảnh)";
}

.note-img-2-normal::after {
    content: " (Lưu ý: tối đa 2 ảnh)";
}

.select-lazy {
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.overflow-select {
    padding: 1rem;
    height: 200px;
}

.btn-add-bisto {
    line-height: var(--iq-btn-height);
}

.btn-search-bisto {
    /* margin-right: 20px; */
}

.btn-show-add-bisto {
    margin-left: 20px;
}

.btn-update-bisto {
}

.btn-delete-bisto {
}

.btn-show-update-bisto {
}

.modal-add-bisto {
}

.modal-update-bisto {
}

.modal-bisto {
}

.tbody-bisto {
}

.body-bisto {
}

.form-bisto {
}

.input-file-bisto {
}

.textarea-bisto {
    resize: none;
    height: 4rem;
}

.btn-reject-bisto {
}

.btn-accept-bisto {
}

.btn-query-bisto {
}

/*
*css
*/

.btn-add-bisto-css {
    line-height: var(--iq-btn-height);
}

.btn-search-bisto-css {
    margin-right: 20px;
    line-height: var(--iq-btn-height);
}

.btn-show-add-bisto-css {
    line-height: var(--iq-btn-height);
    margin-left: 20px;
}

.btn-bisto-height-css {
    line-height: var(--iq-btn-height);
}

.btn-update-bisto-css {
    line-height: var(--iq-btn-height);
    cursor: pointer;
}

.btn-delete-bisto-css {
    cursor: pointer;
}

.btn-show-update-bisto-css {
    cursor: pointer;
}

.btn-see-bisto-css {
    cursor: pointer;
}

.btn-key-bisto-css {
    cursor: pointer;
}

.btn-block-bisto-css {
    margin-left: 1rem;
    cursor: pointer;
}

.btn-unblock-bisto-css {
    margin-left: 1rem;
    cursor: pointer;
}

.modal-add-bisto-css {
}

.modal-update-bisto-css {
}

.modal-bisto-css {
    border-radius: 20px;
}

.tbody-bisto-css {
}

.body-bisto-css {
}

.form-bisto-css {
}

.input-file-bisto-css {
}

.textarea-bisto-css {
    resize: none;
    height: 4rem;
}

.btn-reject-bisto-css {
    cursor: pointer;
}

.btn-accept-bisto-css {
    cursor: pointer;
}

.btn-query-bisto-css {
    line-height: var(--iq-btn-height);
}

.row-action-bisto-css {
    margin-top: 1rem !important;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.6 !important; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    opacity: 0.6 !important; /* Firefox */
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    opacity: 0.6 !important; /* Firefox */
}

.avatar-rate img {
    /* position: absolute;
    top: 0; */
    height: 3rem;
}

.avatar-rate .ratings {
    top: 4rem;
    /* position: absolute;  */
}

.item-comment {
    /* border-bottom: 1px solid var(--iq-secondary); */
    margin-bottom: 1rem;
}

.defs {
    position: absolute;
    width: 0;
    height: 0;
}

.demo {
    text-align: center;
}

.star image {
    clip-path: url(#star-clip);
}

.hex image {
    clip-path: url(#hex-clip);
}

.heart image {
    clip-path: url(#heart-clip);
}

.shape image {
    clip-path: url(#shape-clip);
}

.chat-left:hover {
}

.chat-info-left,
.chat-info-right {
    padding: 0.5rem 1rem;
}

/*.chat-image-left img {*/
/*    max-height: 8rem;*/
/*}*/

.chat-content {
    background-color: #b6b8b5;
}

.chat-data-right {
    border-left: 1px solid #e1e4ea;
}

.chat {
    margin-top: 1rem;
}

.chat-info-left-dropdown,
.chat-info-right-dropdown {
    width: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 3px;
    font-size: smaller;
}

.chat-user {
    margin-right: 1rem;
}

.input-message {
    border: none;
}

.bisto-image-upload {
    max-width: 5rem;
    min-width: 4rem;
}

.progress-bisto {
    width: 80%;
    position: absolute;
    bottom: 0;
    height: 3px !important;
    margin-bottom: 0px !important;
}

.message-wrapper-upload {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.message-img-container img,
.chat-image-left img {
    max-width: 7rem;
    border-radius: 0 !important;
}

.chat-message {
    margin: 0 !important;
}

.container-img-chat {
    max-width: 50rem;
}

.chat-footer img {
    max-height: 7rem;
}

.chat-info {
    display: none;
}

.search-select-bisto .select2-selection__arrow {
    margin: 8px !important;
}

.search-select-bisto {
    border-radius: 10px !important;
    height: 45px !important;
    display: flex !important;
    align-items: center !important;
}

.select-search-bisto-css + .select2-container {
    width: auto !important;
    min-width: 15rem;
    max-width: 100% !important;
    height: 45px !important;
}

.select2-selection__rendered {
    margin-right: 1rem !important;
}

.select2-container {
    color: #000;
}

/* .product-admin-shop .select2-container {
    min-width: auto !important;
    height: 45px !important;
} */

.title-modal-bisto {
}

#countNote {
    height: 0px;
    color: red;
    width: 20px;
    font-size: 17px;
    text-align: center;
    line-height: 5px;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 10px;
    border-radius: 50%;
}

/*
css loading img
*/
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--iq-secondary);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.is-not-seen-message {
    font-weight: bolder;
    color: var(--iq-black);
}

.is-messaging {
    background: var(--iq-progress-light);
}

.btn-pull-to-bottom {
    position: absolute;
    bottom: 70px;
    right: 27px;
    background: #fff;
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    text-align: center;
    padding: 3px;
    display: none;
}

.btn-pull-to-bottom i:hover {
    color: var(--iq-primary);
}

.notif-pull-to-bottom:hover {
    color: var(--iq-primary);
}

.notif-pull-to-bottom {
    position: absolute;
    bottom: 70px;
    right: 62px;
    height: 2rem;
    padding: 5px;
    width: auto;
    cursor: pointer;
    background: #fff;
    border-radius: 10px;
    display: none;
}

#confirm-container .jconfirm-holder {
    position: fixed;
    width: 100%;
    top: 0;
}

.count-mess-css {
    height: 20px;
    width: 20px;
    font-size: 16px;
    text-align: center;
    line-height: 15px;
    padding: 0;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 50%;
}

.card-link-bisto {
    border-radius: 10px;
}

.card-link-bisto:hover {
    cursor: pointer;
    z-index: 1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.export-excel-debt {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.debt-select-shop {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
    justify-content: flex-start;
    display: flex;
}

.btn-append {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#lottie-beil svg,
#lottie-mail svg {
    margin-top: 5px;
    height: 150% !important;
    width: 150% !important;
}

.text-too-long {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.tag-container {
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid var(--iq-dark-border);
}

.tag-container .tag-item-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
    border-radius: 4px;
}

.tag-container .tag-item {
    display: inline-flex;
    background-color: var(--iq-secondary);
    padding: 3px 7px;
    margin: 5px;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    max-width: 100%;
    color: #fff;
}

.tag-container input {
    border: none;
    border-radius: 3px;
}

.tag-container input:focus {
    outline: none;
}

.tag-container .tag-action {
    margin-left: 5px;
}

.tag-container .popover {
    width: 100%;
}

.tag-avai-container {
    max-height: 100px;
    overflow: auto;
}

.tag-avai-container .tag-avai {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.tag-avai-container .tag-avai:hover {
    background-color: var(--iq-primary);
    color: #fff;
}

.tag-avai-container .tag-notavai {
    color: var(--iq-secondary);
}

#form-blog .modal-dialog {
    max-width: 80vw;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--iq-primary);
    border-color: var(--iq-primary);
}

.btn-show-cmt {
    font-weight: bold;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.btn-title-onshow {
    font-weight: bold;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.comment {
    &-container {
        padding: 15px;
    }
    &-list > ul {
        padding: 0;
    }
}

.cmt {
    &__container {
        margin-top: 5px;
    }

    &__main {
        display: flex;
    }

    &__avatar {
        margin-right: 10px;
        &__img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }

    &__content {
        width: 100%;
        &__main {
            border-radius: 15px;
            background-color: #f0f2f5;
            padding-left: 12px;
            padding-right: 12px;
            padding-top: 8px;
            padding-bottom: 8px;
        }

        &__text {
            margin-bottom: 0;
            color: #000;
        }
        &__img {
            padding: 5px;
            display: flex;
            flex-wrap: wrap;
        }

        &__img__item {
            max-width: 100px;
            margin-left: 5px;
        }

        &__emoji {
            img {
                width: 16px;
                height: 16px;
            }
            &__icon__heart {
            }
        }

        &__view__more{
            font-weight: 800;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__util {
    }

    &__view__more {
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    &__username {
        font-weight: bold;
        height: 26px;
    }

    &__content__inner {
    }

    &__reply {
    }

    &__container {
    }
}
